<h1>Post#index</h1>
<a href="/post/new">글 쓰러 가기 </a>
<% @posts.each do |post|%>
    <p><%= post.id%></p>
    <p><%= post.title%></p>
    <p><%= post.body%></p>
    <p><%= post.created_at%></p>
<%end%>
